<div class="title">Content</div>
<div class="content-wrap">
  <div class="content-one">
    <div class="content-inn">
      <span class="cnt-s100">{{ content.memberGroup }}</span>
      <br>
      <span class="cnt-s12">Member of group</span>
    </div>
  </div>
  <div class="content-one">
    <div class="content-inn">
      <span class="cnt-s40">{{content.songUpload}}</span>
      <br>
      <span class="cnt-s20">SONGS UPLOAD</span>
    </div>
  </div>
  <div class="content-one">
    <div class="content-inn">
      <span class="cnt-s60">{{content.members}}</span>
      <br>
      <span class="cnt-s20">MEMBERS</span>
    </div>
  </div>
  <div class="content-one">
    <div class="content-inn">
      <span class="cnt-s100">3</span>
      <br>
      <span class="cnt-s20">MILLION</span>
      <br>
      <span class="cnt-s12">Likes</span>
    </div>
  </div>
</div>