<div class="about-block">
  <div class="title">about</div>
  <a href="http://www.imusify.com/" target="_blank">
    <div class="logo"></div>
  </a>
  <div class="logoNeo">
    <a href="https://neo.org/" target="_blank">
      <img src="/assets/images/about/logo.png" alt="" />
    </a>
  </div>
  <!--div class="logo-info">Your social network for audio hosting!</div-->
  <div class="information">
    <h1>A Next-Generation Blockchain-based incentives Platform.</h1>
    imusify is a free, blockchain based, incentified and decentralized smart economy for music related digital content such as
    audio, video, apps, images, and blogging where anyone can join, contribute and get paid $.
    <br>
    <br>imusify incentify is the first version of a free voting system to curate the best content. Anyone can contribute by uploading,
    curating (up- and downvoting) and commenting on content or even by helping invite people, marketing, helping with business
    development or legal, fixing bugs or whatever the mind can imagine that will bring the community forward. By doing so
    Users can earn money in $IMU, a cryptocurrency, thus becoming a shareholder of imusify. There are currently 20 Million
    of 100 Million $IMU in circulation. If you are interested in contributing please check our Contributing Guidelines here:
    <h1>
      <br>Introduction and description of the platform</h1>
    Users can drag and drop music into the browser thus uploading it to the platform. During the upload, user is asked multiple
    questions in order to determine relevant Metadata. He is also asked to invite friends via email that will vote for his
    song. For every upvote, both the upvoter and uploader receive rewards in $IMU. For every downvote, the uploader loses
    IMU and the curator is rewarded.
    <br>
    <br>Rather than exploiting artists we compensate them directly with $IMU for contributing to the movement. imusify plays
    along with the rules rather than goes against them. This is enabled by the revolutionary possibilities Technologies such
    as NEO Blockchain and Smart Contracts enable.

    <h1>
      <br>Introduction of the NEO Blockchain</h1>
    NEO is the use of blockchain technology and digital identity to digitize assets, the use of smart contracts for digital assets
    to be self-managed, to achieve a “smart economy” with a distributed network. Through technologies such as P2P networking,
    dBFT consensus, digital certificates, Superconducting Transactions, and cross-chain interoperability the NEO blockchain
    enables management of smart assets in an efficient, safe and legally binding manner.

    <h1>
      <br>Tech Stack / Under the hood</h1>
    Blockchain:
    <br>Neo Technology
    <br>
    <br>Backend:
    <br>Golang
    <br>
    <br>Frontend:
    <br>Angular 4
    <br>
    <br>Database:
    <br>Maria.db, Elastic Search
    <br>
    <br>Server:
    <br>AWS EC2
    <h1>
      <br>Copyright Infringement</h1>
    imusify faces one of the main challenges the music industry has been facing since its infancy: Copyright. Making sure uploaded
    content has not been copyright infringed must be the highest priority. We plan to solve this by utilizing proven solutions
    such as DMCA Scanning, Watermarking and Fingerprinting audio.
    <br>We will utilize NEOs Smart Identity and Smart Assets to create trustworthy digital assets. Additionally we will determine
    the “truth” about whether a song has been infringed or not by implementing a dBFT (delegated Byzantine Fault Tolerance)
    consensus mechanism.
    <h1>
      <br>Bots</h1>
    Another challenge is the misuse of automated bots which are able to falsely curate content without actually having evaluated
    the content voted upon. We plan to solve this by using Captchas in order to determine if a user is a bot or a human before
    voting is possible.
    <h1>
      <br>Jobs and Contributions</h1>
    We are always on the lookout for great talent. If you have any kind of talent which you would like to unfold simply do the
    work and send it to us so we can democratically decide whether your application is accepted or not. If your application
    is accepted we will be happy to make a generous payout in $IMU according to our Bounty List.

  </div>
</div>