:host {
    position: relative;
    display: block;
    margin: 0 0 50px;
    text-align: center;
    padding-top: 50px;
}

.title {
    position: relative;
    display: block;
    margin-bottom: 10px;
    opacity: 5;
    font-weight: 100;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -.025em;
}

.peoples-wrap {
    position: relative;
    display: flex;
    margin: 50px -20px 25px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.people-one {
    position: relative;
    display: block;
    width: 164px;
    margin: 0 20px 50px;
}

.people-one .img {
    position: relative;
    display: block;
    width: 164px;
    height: 164px;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.people-one .img:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-radius: 50%;
    transition: border 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.people-one .img img {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.people-one .name {
    width: 164px;
    margin: 0 auto;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .05em;
}

.people-one .position {
    width: 164px;
    margin: 0 auto;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: .05em;
}

.people-one .fb-link {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    margin: 15px auto 0;
    opacity: .4;
    background: url("/assets/images/fb-ico.svg") 50% 50% no-repeat;
    background-size: contain;
    transition: opacity .218s ease-in-out;
}

.people-one .linkedin-github {
    position: relative;
    width: 55px;
    height: 24px;
    margin: 15px auto 0;
}

.people-one .linkedin-link {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    opacity: 1;
    background: url("/assets/images/linkedin-ico.png") 50% 50% no-repeat;
    background-size: contain;
    transition: opacity .218s ease-in-out;
}

.people-one .github-link {
    float: right;
    display: block;
    width: 24px;
    height: 24px;
    opacity: 1;
    background: url("/assets/images/github-ico.png") 50% 50% no-repeat;
    background-size: contain;
    transition: opacity .218s ease-in-out;
}

.people-one .fb-link:hover {
    opacity: .8;
}

.people-one .fb-link:active {
    opacity: 1;
}

.people-one:hover .img:before {
    border-color: #fff;
}